@font-face {
  font-family: Cbook;
  src: url("../fonts/Gotham-Book.otf");
}

@font-face {
  font-family: Cbold;
  src: url("../fonts/GothamBold.ttf");
}

@font-face {
  font-family: Cblack;
  src: url("../fonts/black.ttf");
}

#login{

  height: 100%;
  width: 100%;
}
#login_left{
  width: 50%;
  display: inline-block;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  position: relative;
z-index: 12;
}
#login_images{
  width: 45%;
  display: inline-block;
  height: 100%;
}

#login_img1 img{
  width: 400px;
  -webkit-filter: blur(5px);
  filter: blur(15px);
  -webkit-box-shadow: 10px 10px 300px 19px rgba(0,0,0,0.9);
  -moz-box-shadow: 10px 10px 300px 19px rgba(0,0,0,0.9);
  box-shadow: 10px 10px 300px 19px rgba(0,0,0,0.9);

}
#login_img1{
  position: absolute;
  top: 16%;
  left: 67%;
}
#login_img2{
  position: absolute;
  top: 19%;
  left: 47%;
}
#login_img2 img{
  -webkit-box-shadow: 10px 10px 300px 19px rgba(0,0,0,0.9);
  -moz-box-shadow: 10px 10px 300px 19px rgba(0,0,0,0.9);
  box-shadow: 10px 10px 300px 19px rgba(0,0,0,0.9);

}
/*.wrapper {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/
/*
#login p {
  font-family: Cbook;
  color: white;
  margin-top: -14px;
}

#login h1 {
  font-family: Cblack;
  color: white;
  font-size: 60px;
}

#getStarted{
  border: solid 3px #ffffff;
    border-radius: 1.875rem;
    height: 3.75rem;
    padding: 19px 2.4375rem;
    width: 200px;
    height: auto;
    margin: 0 auto;
    margin-top: 65px;
    cursor: pointer;
transition: 1s ease;
}
#getStarted a{
  font-family: Cbold;
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 19px;
    text-transform: uppercase;
    top: 50%;
    transition: 1s ease;
    transform: translateY(-50%);
}
#getStarted:hover {
    border: solid 3px #565656;
}
#getStarted:hover a{
    color: #565656;
}*/
